#LILY CODER
# from my.telegram.org/apps
API_ID=
API_HASH=

# from @BotFather on telegram
BOT_TOKEN=
LOGGER_ID=

# mongo url from cloud.mongodb.com
MONGO_URL=

OWNER_ID=

# pyrogram session from @StringFatherBot on telegram
SESSION=

# YouTube API Base URL (Railway music API)
YT_API_BASE_URL=https://youtube-api-music-production-824b.up.railway.app
YT_API_KEY=SLtWox3TFKKHuMySdvz_4y2Ju3NlSHYk

# limits for the bot
QUEUE_LIMIT=50
DURATION_LIMIT=5400
PLAYLIST_LIMIT=20
COOKIES_DATA=
